.bottom-navbar {
    position: sticky;
    /* border: 2px solid red; */
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    /* background: #ffffff; */
    background: linear-gradient(0deg, #4b2268 -12.22%, #641773 64.14%, #92278f 152%);
    border-radius: 16px 16px 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    border-top: 2px solid #4b2268;
  }
 
  
  .nav-item {
    font-size: 14px;
    /* color: #555; */
    color: rgba(255, 255, 255, 0.675);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    flex: 1;
    padding: 5px 0;
    /* border: 2px solid red; */
    cursor: pointer;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-item.active {
    color: #2575fc;
    border-top: 3px solid #2575fc;
  }
  
  .nav-item:hover {
    color: #0052d4;
  }
  @media (max-width: 468px) {
   
    .nav-item {
      font-size: 12px;
      padding: 5px 0;
     
     
    }
  }