.menu-container {
  display: flex;
  justify-content: space-around;
  /* background: linear-gradient(135deg, #f8f8f8, #e0e0e0); */
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
  /* background-color: #ffffff; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
}

.menu-item:hover {
  /* background: rgba(255, 255, 255, 0.5); */
  background: rgba(198, 198, 198, 0.546);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.icon {

  font-size: 30px;
  background: linear-gradient(0deg, #4b2268 -12.22%, #641773 64.14%, #92278f 152%);
  padding: 20px;
  border-radius: 50%;
  margin-bottom: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-span{
color: rgba(255, 255, 255, 0.675);
}
@media (max-width: 468px) {
  .icon {
      font-size: 22px; 
      padding: 10px;  
  }
  .menu-container {
    
    padding: 20px 0px;
    margin: 0px;
  }

  
}
div >span{
  font-size: 13px;
}